.error{
    display: none; // IMPORTANTE
    background-color: rgba(255, 134, 134, 0.514);
    border: 2px solid rgba(161, 84, 84, 0.514);
    border-radius: 8px;
    padding: 1rem;
    color:black;

    &.on{
        display: block; // IMPORTANTE
    }
}


img.apartment{
    width: 450px;
    height: 300px;
    border-radius: 7px;
}

