@import '../variables';

#index{

    h1{
        color: $primary-color;
    }

    img{
        height: 3rem;
    }
    .circle {
        width: 10px;
        height: 10px;
        background-color: green;
        border-radius: 50%;
    }

    .grey {
        width: 10px;
        height: 10px;
        background-color: grey;
        border-radius: 50%;
    }

    .apartment-info{
        color: black;
        text-decoration: none;
    }

}
