[id*=deleteModal]{
    .modal-content{
        background-color: white;
        padding: 2rem 5rem;
        border-radius: 1.5rem;
        box-sizing: content-box;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    }


    h1{
        color: red;
        font-weight: bold;
        padding-bottom: 1rem;
    }

    h1#deleteModalLabel{
        color: rgb(255, 205, 39);
    }

    div.warning{
        padding:.5rem 2rem;
        border-left: 1rem solid rgb(255, 205, 39);
        p{
            margin: 0;
            font-size: 1rem;
        }
    }

    .button{
        padding-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }



}

[id*=restoreModal]{
    .modal-content{
        background-color: white;
        padding: 2rem 5rem;
        border-radius: 1.5rem;
        box-sizing: content-box;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    }


    h1{
        color: rgb(255, 205, 39);
        font-weight: bold;
        padding-bottom: 1rem;
    }

    .modal-body{
        p{
            font-size: 1.3rem;
        }
    }

    div.warning{
        padding:.5rem 2rem;
        border-left: 1rem solid rgb(255, 205, 39);
        p{
            margin: 0;
            font-size: 1rem;
        }
    }

    .button{
        padding-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}




