@import "resources/sass/variables";
@import "resources/sass/app.scss";


.apartment-show {
    .apartment-img {
        background-color: rgb(138, 236, 236);
        background-size: cover;
        background-position: center;
        max-height: 400px;
        max-width: 100%;
        transition: height 0.5s ease, width 0.5s ease;
        border-radius: 7px;

        img {
            width: 100%;
            height: auto;
            max-height: 400px;
            object-fit: cover;
        }
    }

    .rgt-column{
        border: solid 2px $primary-color;
        border-radius: 10px;
        box-shadow: 0px 6px 15px 0px rgba(55, 172, 55, 0.46);
        background-color: white;
    }


    .button-sponsor{
        background-image: linear-gradient(#20ea0d, #05832f);
        border: 0;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
        box-sizing: border-box;
        color: #020000;
        cursor: pointer;
        font-weight: 800;
        font-size: 1.2em;
        margin: 5px;
        padding: 10px 15px;
        text-align: center;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        text-decoration: none;
    }
    .sponsorship {
        font-size: 1rem;
        padding: 5px 10px;
        color: white;
        border-radius: 15px;
        display: inline-block;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin: 1rem 0;
        width: 30%;


        &:hover {
            transform: scale(1.05);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        }
    }

    .scrollable-sponsorships {
        max-height: 40px;
        overflow-y: auto;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 1rem 0;
        padding-top: .5rem;
    }

    .badge-silver {
        background-image: linear-gradient(#b9b9b8, #575756);
        border: solid 1px #A9A9A9;
        color: #333;
    }

    .badge-gold {
        background-image: linear-gradient(#fffb00, #918e03);
        border: solid 1px #DAA520;
        color: #333;
        font-weight: 900;
    }

    .badge-platinum {
        background-image: linear-gradient(#addbdd, #70c2c2);
        border: solid 1px #66B2B2;
        color: #333;
    }

    .services {
        h3 {
            font-size: 1.5rem;
            color: #2c3e50;
            margin-bottom: 1rem;
        }

        ul {
            padding-left: 0;
        }

        li {
            display: flex;
            align-items: center;
        }
    }

    .apartment-name {
        font-size: 2.5vw;
        font-weight: bold;
        color: #2c3e50;
        transition: font-size 0.5s ease;
    }

    .apartment-description,
    .apartment-price {
        transition: font-size 0.5s ease;
    }


    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 26px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: 0.4s;
            border-radius: 26px;

            &:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 3px;
                bottom: 3px;
                background-color: white;
                transition: 0.4s;
                border-radius: 50%;
                border: solid 2px rgb(173, 172, 172);
            }
        }

        input:checked + .slider {
            background-color: #28a745;

            &:before {
                transform: translateX(24px);
            }
        }
}


    .custom-btn {
        border-radius: 50px;
        padding: 5px 20px;
        font-size: 1.2rem;
        font-weight: 900;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.3s ease;
        color: white;
        text-transform: uppercase;
        background-color: #008000;
        border: solid 2px #006400;

        &:hover {
            background-color: #006400;
            border: solid 2px #004d00;
        }

        &:focus {
            box-shadow: 0 0 0 3px rgba(0, 128, 0, 0.5);
        }

        &.warning {
            background-image: linear-gradient(#eee487, #bb9f00);
            color: #000000;
            border: solid 2px #b8860b;

            &:hover {
                background-color: #ffcc00;
                border: solid 2px #b8860b;
            }

            &:focus {
                box-shadow: 0 0 0 3px rgba(255, 204, 0, 0.5);
            }
        }

        &.danger {
            background-image: linear-gradient(#ff5d5d, #af0000);
            color: white;
            border: solid 2px #b71c1c;

            &:hover {
                background-color: #c62828;
                border: solid 2px #b71c1c;
            }

            &:focus {
                box-shadow: 0 0 0 3px rgba(211, 47, 47, 0.5);
            }
        }

        &.danger{
            color: #000000;
            border: solid 2px #b62a07;

            &:hover{
                background-color: #ff5100;
                border: solid 2px #a70000;
            }

            &:focus{
                box-shadow: 0 0 0 3px rgba(255, 51, 0, 0.5);
            }
        }

        &:hover {
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
            transform: translateY(-2px);
            color: #000000;
            text-decoration: none;
        }

        &:focus {
            outline: none;
        }

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}

#app.dark{
    .apartment-name{
        color: white;
    }

    .rgt-column{
        background-color: $dark-primary;
    }
}

/* Media Queries */
@media (max-width: 1290px) {
    .apartment-name {
        font-size: 2rem;
    }

    .apartment-description,
    .apartment-price {
        font-size: 1.2rem;
    }

    .apartment-services{
        margin-top: 7rem;
    }
}

@media (max-width: 1024px) {
    .apartment-name {
        font-size: 2.2rem;
    }

    .apartment-description,
    .apartment-price {
        font-size: 1.3rem;
    }

    .apartment-services{
        margin-top: 9rem;
    }
}

@media (max-width: 768px) {
    .apartment-name {
        font-size: 2rem;
    }

    .apartment-description,
    .apartment-price {
        font-size: 1rem;
    }

    .apartment-services{
        margin-top: 10rem;
    }
}

@media (max-width: 576px) {
    .apartment-name {
        font-size: 1.8rem;
    }


    .apartment-description {
        font-size: 0.9rem;
    }
}
