$body-bg: #e6ffe3;
$dark-body: #303030;

$primary-color: #00bf63;
$dark-primary: #202020;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
