// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

#app{
    background-color: white;

    li{
        cursor: pointer;
    }

    nav{
        background-color: white;
        .logo{
            img{
                width: 8rem;
            }
        }

        ul#links{
            a{
                padding: .5rem .3rem;
                text-decoration: none;
                color: black;
                margin: 0 .4rem;

                &:hover {
                    background-color: rgb(233, 233, 233);
                    border-radius: 1rem;
                }

                svg{
                    margin: 0 .5rem;
                }
                .text{
                    display: none;
                    margin-right: .4rem;
                }
                &.active{
                    .text{
                        display: inline;
                    }
                }
            }
        }

        a#navbarDropdown{
            .img{
                background-color: #aefaa4;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                margin: 0 .5rem;

                span{
                    font-size: .8rem;
                    color: black;
                }
            }
        }

        .dropdown-menu{
            background-color: white;
            .dropdown-item:hover{
                background-color: #aefaa4;
            }
        }
    }

    main{
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        background-color: $body-bg;
    }
}

#app.dark{
    background-color: $dark-primary !important;

    main{
        background-color: $dark-body !important;
        color: white;
    }

    nav{
        background-color: $dark-primary !important;

        ul#links{
            a:hover{
                background-color: #00bf63;
                svg,
                span{
                    filter: invert(0%) !important;
                }
            }
            svg,
            span{
                filter: invert(100%) !important;
            }
        }

        ul.profile{
            li a,
            button{
                color: white;
            }
        }

        .dropdown-menu{
            background-color: rgb(26, 26, 26);

            .dropdown-item:hover{
                background-color: $primary-color !important;
            }
        }
    }

    .navbar-toggler-icon{
        filter: invert(100%);
    }
}

body.dark{
    background-color: $dark-body;
}

// ###############
// MEDIA QUERY
// ###############

@media screen and (max-width : 992px) {
    #app nav ul#links a.active .text{
        display: none;
    }
}

@media screen and (max-width : 768px) {
    ul#links{
        display: flex;
        flex-direction: column;
        border-top: 1px solid rgb(201, 201, 201);
        border-bottom: 1px solid rgb(201, 201, 201);
        margin: .5rem 0;

        li{
            margin: .5rem 0;
            a{
                svg{
                    transform: scale(1.2);
                    margin-left: 0 !important;
                }

                .text{
                    display: inline !important;
                }
            }
        }
    }
}
