// random color functions
@use "sass:math";
@function random-color() {
    $hue: math.random(360); // Valore random per la hue
    $saturation: math.random(100) + 0%; // Valore random per la saturazione
    $lightness: math.random(100) + 0%;

    @return hsl($hue, $saturation, $lightness);
}

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// CRUD
@import "show";

// Bootstrap
@import 'bootstrap/scss/bootstrap';



