.error{
    display: none;
    color: red;

    &.on{
        display: block;
    }

    p{
        svg{
            display: none;
            margin-right: .5rem;
        }

        &.red{
            color: red;
            svg.fa-xmark{
                display: inline-block;
            }
        }
        &.green{
            color: green;
            svg.fa-check{
                display: inline-block;
            }
        }
    }
}

#app.dark{

    #register{
        background-color: $dark-primary !important;
        color: white;
        border: 2px solid $primary-color;
    }
}
