@import "variables";


h1 {
    text-align: center;
}

canvas {
    border: 1px solid #ddd;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
